<br>
<h1 align="center" style="background-color: lightgreen; color: green; font-family: MUSEO; font-size: xxx-large;">{{nome|uppercase}}</h1>
<br>
<div class="card mb-3" style="width: 1520px; height: 500px;  background-color: darkgreen; ">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="card-img-top" src="{{immagine}}" alt="Card image" style="height: 71vh; ">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="font-family: MUSEO; color: white;">
          <p style="font-family: MUSEO; font-size: x-large;">INFORMAZIONI PIU' APPROFONDITE DELLA MOSTRA:</p>
          <p>NOME MOSTRA: {{nome}}</p>
          <p>ARTISTI PRINCIPALI DELL'EPOCA: {{artisti}}</p>
          <p>DESCRIZIONE MOSTRA: {{descrizione}}</p>
          <p>DATA INIZIO: {{datainizio | date:'longDate'}}</p>
          <p>DATA FINE: {{datafine | date:'longDate'}}</p>
          <p>COSTO DELLA MOSTRA (a persona): {{costo | currency: 'EUR' : 'symbol'}}</p>
          <p>DOVE ?: a {{citta}}</p>
        </div>
      </div>
      <br>
      <br>
      <h2 align="center" style="background-color: lightgreen; color: blue; font-family: MUSEO; font-size: xxx-large; margin-top: 60px;">OPERE: </h2>
      <br>
      <br>
      <br>
      <div class="card mb-3" style="width: 1540px; height: 300px;  background-color: darkblue; margin-top: 40px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="card-img-top" src="{{immagineopera1}}" alt="Card image" style="height:42vh; ">
          </div>
          <div class="col-md-8">
            <div class="card-body" style="font-family: MUSEO; color: white;">
              <p style="font-family: MUSEO; font-size: x-large;">INFORMAZIONI DELL'OPERA:</p>
              <p>NOME OPERA: {{nomeopera1}}</p>
              <p>ARTISTA: {{artistaopera1}}</p>
              <p>DESCRIZIONE OPERA: {{descrizioneopera1}}</p>
            </div>
          </div>
      <br>
      <br>
      <div class="card mb-3" style="width: 1540px; height: 300px;  background-color: darkblue; margin-top: 40px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="card-img-top" src="{{immagineopera2}}" alt="Card image" style="height:42vh; ">
          </div>
          <div class="col-md-8">
            <div class="card-body" style="font-family: MUSEO; color: white;">
              <p style="font-family: MUSEO; font-size: x-large;">INFORMAZIONI DELL'OPERA:</p>
              <p>NOME OPERA: {{nomeopera2}}</p>
              <p>ARTISTA: {{artistaopera2}}</p>
              <p>DESCRIZIONE OPERA: {{descrizioneopera2}}</p>
            </div>
          </div>
