<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<br>
<h1 align="center" style="background-color: orange; color: white; font-family: MUSEO; font-size: xxx-large;">MUSEO DELL'UMANITA'</h1>
<br>
<h2 align="center" style="color: white; margin-left:auto; margin-right:auto; font-family: MUSEO;">Benvenuti al Museo dell'umanità. Qui, immergetevi in un viaggio attraverso le epoche, dai primordi dell'umanità fino ai giorni nostri. Attraverso un'esplorazione interattiva e coinvolgente, scoprirete le vicende, le persone e gli eventi che hanno plasmato il mondo in cui viviamo oggi. Ogni sala del museo offre una finestra su un periodo unico della storia umana, permettendovi di comprendere meglio il passato mentre riflettete sul presente e contemplate il futuro. Preparatevi a essere ispirati, stupiti e profondamente coinvolti mentre esplorate il ricco tessuto della storia umana qui al Museo dell'umanità</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
