<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<h1 align="center" style="background-color: orange; color: white; font-family: MUSEO; font-size: xxx-large;">MUSEO DELLA STORIA UMANA</h1>
<img class="h-12 w-12 flex-none rounded-full bg-gray-50" style="width: 800px; margin-left: 25%; margin-right: auto; " src="https://a.cdn-hotels.com/gdcs/production10/d1658/02f76460-708c-11e8-bbf2-0242ac110009.jpg?impolicy=fcrop&w=800&h=533&q=medium" alt="">
<br>
<h2 align="center" style="color: blue; margin-left:1%; margin-right:auto; font-family: MUSEO; font-size: xx-large;">Benvenuti al Museo della storia umana. Qui, immergetevi in un viaggio attraverso le epoche, dai primordi dell'umanità fino ai giorni nostri. Attraverso un'esplorazione interattiva e coinvolgente, scoprirete le vicende, le persone e gli eventi che hanno plasmato il mondo in cui viviamo oggi. Ogni sala del museo offre una finestra su un periodo unico della storia umana, permettendovi di comprendere meglio il passato mentre riflettete sul presente e contemplate il futuro. Preparatevi a essere ispirati, stupiti e profondamente coinvolti mentre esplorate il ricco tessuto della storia umana qui al Museo della storia umana.</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
